body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

#play-space {
  display: flex;
}

#options {
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#telesketch {
  width: 480px;
  height: 480px;
  display: grid;
}

.grid-cell {
  border: dotted black 1px;
  background: white;
}